/*=================== fonts ====================*/
@import url("https://fonts.googleapis.com/css?family=Poppins:700|Roboto:400,500,500i");


body {
  line-height: 24px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #777777;
}

body.elements {
  font-weight: 400;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quantico", sans-serif;
  font-weight: 700;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

button:focus {
  outline: none;
  box-shadow: none;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.p0 {
  padding-left: 0px;
  padding-right: 0px;
}



@media (max-width: 991px) {
  .section_gap {
    padding: 80px 0;
  }
}

@media (max-width: 991px) {
  .section_gap_top {
    padding-top: 80px;
  }
}

.section_gap_bottom {
  padding-bottom: 120px;
}

@media (max-width: 991px) {
  .section_gap_bottom {
    padding-bottom: 80px;
  }
}

.gray-bg {
  background: #f9f9ff;
}

/* Main Title Area css
============================================================================================ */
.main-title {
  text-align: center;
  margin-bottom: 75px;
}

@media (max-width: 767px) {
  .main-title {
    margin-bottom: 40px;
  }
}

.main-title h1 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  color: #222222;
  font-weight: 700;
  margin-bottom: 10px;
  padding-bottom: 5px;
  text-transform: capitalize;
  position: relative;
}

@media (max-width: 767px) {
  .main-title h1 {
    font-size: 36px;
    padding-bottom: 0px !important;
  }
}

@media (max-width: 767px) {
  .main-title h1:before {
    display: none;
  }
}

@media (max-width: 767px) {
  .main-title h1:after {
    display: none;
  }
}

.main-title p {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  line-height: 26px;
  color: #777777;
  margin-bottom: 0px;
  margin: auto;
}

/* End Main Title Area css
============================================================================================ */
.primary-btn {
  display: inline-block;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 46px;
  padding: 0 40px;
  outline: none !important;
  text-align: center;
  text-transform: capitalize;
  border: 2px solid #90acd1;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.primary-btn:hover {
  background: #e45447;
  color: #fff;
  border: 2px solid transparent;
}


/* Projects Area css
============================================================================================ */
.projects_fillter {
  background: #4b6584;
}

.projects_fillter .filter {
  position: relative;
  text-align: center;
  margin-bottom: 50px;
  padding: 13px 0;
}

@media (max-width: 575px) {
  .projects_fillter .filter {
    padding: 13px;
  }
}


.projects_fillter .filter li {
  display: inline-block;
  margin-right: 30px;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
}

.projects_fillter .filter li:last-child {
  margin-right: 0px;
}

.projects_fillter .filter li.active,
.projects_fillter .filter li:hover {
  color: white;
}

.projects_inner {
  margin-bottom: -30px;
}

.projects_item {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 30px;
}

.projects_item:before {
  content: "";
  background: #000;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 300ms ease;
}

.projects_item .projects_text {
  position: absolute;
  width: 100%;
  left: 50%;
  bottom: 0px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.projects_item .projects_text h4 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 5px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  margin: 10px;
  vertical-align: middle;
  cursor: pointer;
}

.projects_item .projects_text p {
  margin-bottom: 0px;
  font-size: 15px;
  color: #fff;
}

.projects_item:hover:before {
  opacity: 0.4;
}

.projects_item:hover .projects_text {
  opacity: 1;
  visibility: visible;
  bottom: 30px;
}

/* End Projects Area css
============================================================================================ */
/* Portfolio Details Area css
============================================================================================ */
.portfolio_details_inner .row {
  margin-bottom: 65px;
}

@media (max-width: 480px) {
  .portfolio_details_inner .row {
    margin-bottom: 30px;
  }
}

.portfolio_details_inner p {
  margin-bottom: 30px;
  font-size: 14px;
}

.portfolio_details_inner p:last-child {
  margin-bottom: 0px;
}

.portfolio_details_inner .portfolio_right_text {
  /* margin-top: 50px; */
}


.portfolio_details_inner .left_img {
  padding: 6px;
}

@media (max-width: 991px) {
  .portfolio_details_inner .portfolio_right_text {
    margin-top: 0px;
  }
}

@media (max-width: 576px) {
  .portfolio_details_inner .portfolio_right_text {
    margin-top: 50px;
  }
}

.portfolio_details_inner .portfolio_right_text h4 {
  color: #222222;
  font-size: 21px;
  margin-bottom: 18px;
  font-weight: 700;
}

.portfolio_details_inner .portfolio_right_text p {
  margin-bottom: 25px;
  font-size: 14px;
}

.portfolio_details_inner .portfolio_right_text .list li {
  margin-bottom: 7px;
  font-weight: normal;
  font-size: 14px;
}

.portfolio_details_inner .portfolio_right_text .list li span {
  font-size: 14px;
  color: #000;
  font-weight: 400;
  width: 97px;
  display: inline-block;
}

.portfolio_details_inner .portfolio_right_text .list li:last-child {
  margin-bottom: 0px;
}

.portfolio_details_inner .portfolio_right_text .list li i {
  color: #f1cd09;
}

.social_details {
  margin-top: 50px;
}

@media (max-width: 480px) {
  .social_details {
    margin-top: 20px;
  }
}

.social_details li {
  display: inline-block;
  margin-right: 14px;
}

.social_details li a {
  font-size: 14px;
}

.social_details li a i {
  color: #000 !important;
}

.social_details li a i:hover {
  color: #e45447 !important;
}

.social_details li:last-child {
  margin-right: 0px;
}


.sample-text-area {
  padding: 100px 0 70px 0;
}

.sample-text {
  margin-bottom: 0;
}

.text-heading {
  margin-bottom: 30px;
  font-size: 24px;
}

.typo-list {
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .typo-sec {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .element-wrap {
    margin-top: 30px;
  }
}

b,
sup,
sub,
u,
del {
  color: #f8b600;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

a:hover {
  background-color: #4b6584;
}

.typography h1,
.typography h2,
.typography h3,
.typography h4,
.typography h5,
.typography h6 {
  color: #777777;
}

.button-area .border-top-generic {
  padding: 70px 15px;
  border-top: 1px dotted #eee;
}

.button-group-area .genric-btn {
  margin-right: 10px;
  margin-top: 10px;
}

.button-group-area .genric-btn:last-child {
  margin-right: 0;
}

.circle {
  border-radius: 20px;
}


@media (max-width: 991px) {
  .progress-table-wrap {
    overflow-x: scroll;
  }
}

.single-gallery-image {
  margin-top: 30px;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  height: 200px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.single-gallery-image:hover {
  opacity: 0.8;
}

.list-style {
  width: 14px;
  height: 14px;
}

.unordered-list li {
  position: relative;
  padding-left: 30px;
  line-height: 1.82em !important;
}

.unordered-list li:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 3px solid #f8b600;
  background: #fff;
  top: 4px;
  left: 0;
  border-radius: 50%;
}

.ordered-list {
  margin-left: 30px;
}

.ordered-list li {
  list-style-type: decimal-leading-zero;
  color: #f8b600;
  font-weight: 500;
  line-height: 1.82em !important;
}

.ordered-list li span {
  font-weight: 300;
  color: #777777;
}

.ordered-list-alpha li {
  margin-left: 30px;
  list-style-type: lower-alpha;
  color: #f8b600;
  font-weight: 500;
  line-height: 1.82em !important;
}

.ordered-list-alpha li span {
  font-weight: 300;
  color: #777777;
}

.ordered-list-roman li {
  margin-left: 30px;
  list-style-type: lower-roman;
  color: #f8b600;
  font-weight: 500;
  line-height: 1.82em !important;
}

.ordered-list-roman li span {
  font-weight: 300;
  color: #777777;
}

.single-input {
  display: block;
  width: 100%;
  line-height: 40px;
  border: none;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
}

.single-input:focus {
  outline: none;
}

.default-select {
  height: 40px;
}

.default-select .nice-select {
  border: none;
  border-radius: 0px;
  height: 40px;
  background: #fff;
  padding-left: 20px;
  padding-right: 40px;
}

.default-select .nice-select .list {
  margin-top: 0;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  width: 100%;
  padding: 10px 0 10px 0px;
}

.default-select .nice-select .list .option {
  font-weight: 300;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 28px;
  min-height: 28px;
  font-size: 12px;
  padding-left: 20px;
}

.default-select .nice-select .list .option.selected {
  color: #f8b600;
  background: transparent;
}

.default-select .nice-select .list .option:hover {
  color: #f8b600;
  background: transparent;
}

.default-select .current {
  margin-right: 50px;
  font-weight: 300;
}

.default-select .nice-select::after {
  right: 20px;
}

@media (max-width: 991px) {
  .left-align-p p {
    margin-top: 20px;
  }
}

.mt-10 {
  margin-top: 10px;
}


/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Start About Area css
============================================================================================ */
.about-area .main-title {
  margin-bottom: 30px;
}

.about-area .main-title h1 {
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.about-area .main-title h1:before {
  left: 10%;
}

@media (max-width: 1200px) {
  .about-area .main-title h1:before {
    left: 12%;
  }
}

@media (max-width: 991px) {
  .about-area .main-title h1:before {
    left: 8%;
  }
}

@media (max-width: 767px) {
  .about-area .main-title h1:before {
    left: 10%;
  }
}

.about-area .main-title h1:after {
  left: 5px;
}

@media (max-width: 1024px) {
  .about-area .main-title {
    padding-bottom: 0px;
  }
}

@media (max-width: 991px) {
  .about-area .about-left {
    display: none;
  }
}

.about-area .primary-btn {
  margin-top: 40px;
}

/* End About Area css
============================================================================================ */