* {
	box-sizing: border-box;
	font-family: 'Krub', sans-serif;
}

body{
	margin: 0px
	overflow-x: hidden;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: relative;
	top: 0px;
}
div.Main{
	margin: 0px
	overflow-x: hidden;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: relative;
	top: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px;
	color: #373737;	
	background: linear-gradient(110deg, rgba(117,25,175,1), rgba(0,212,255,1) 35%, #F4F4F4 25%, #F4F4F4 100%);}
}


div.container{
}

.navbar {
    background-color: #373737;
}

.navbar-brand {
    padding-right: 1em;
}

.as-nav-icon {
    color: #F4F4F4;
    font-size: 2em;
    padding-right: 20px;
}

.container > div{
	text-align: center;
}


div.cardholder {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 20px;
	text-align: center;
}

div.cardholder div {
	transition: 0.2s;
	width: 120px;
	margin: 5px;
	border: 1px #ddd solid;
	padding: 10px;
	display: inline-block;
}

img {
  border-radius: 50%;
  width: 30%;
  margin-left: 275px;
  margin-top: 100px;
}
